<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Demo Decision Tree Classifier</title>
</head>

<body>
    <div class="d-flex-col h-100 container">
        <!-- Header -->
        <div class="jumbotron mt-5">
            <h1 class="display-4">Demo Decision Tree Classifier</h1>
            <p class="lead">Dibuat untuk presentasi sidang oleh Gregorius Samosir.</p>
        </div>

        <!-- Tabs -->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-dataset1-tab" data-toggle="pill" href="#pills-dataset1" role="tab"
                    aria-controls="pills-dataset1" aria-selected="true">Dataset 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-dataset2-tab" data-toggle="pill" href="#pills-dataset2" role="tab"
                    aria-controls="pills-dataset2" aria-selected="false">Dataset 2</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-dataset1" role="tabpanel"
                aria-labelledby="pills-dataset1-tab">

                <!-- Forms -->
                <form method="post" action="/submit" id="form-1">
                    <div class="form-group">
                        <input type="hidden" name="dataset" value="1">

                        <label for="age">Berapa usia pasien?</label>
                        <input type="text" name="age" class="form-control" id="age" placeholder="Contoh: 28" required>
                    </div>
                    <div class="form-group">
                        <label>Apa jenis kelamin pasien?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="sex_m" value="M" required>
                            <label class="form-check-label" for="sex_m">
                                Laki-laki
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="sex_f" value="F">
                            <label class="form-check-label" for="sex_f">
                                Perempuan
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Apa jenis penyakit dada pasien?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="chest_pain_type" id="ta" value="TA"
                                required>
                            <label class="form-check-label" for="ta">
                                TA (Typical Angina)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="chest_pain_type" id="ata" value="ATA">
                            <label class="form-check-label" for="ata">
                                ATA (Atypical Angina)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="chest_pain_type" id="nap" value="NAP">
                            <label class="form-check-label" for="nap">
                                NAP (Non-Angina Pain)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="chest_pain_type" id="asy" value="ASY">
                            <label class="form-check-label" for="asy">
                                ASY (Asymmptomatic)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="resting_bp">Bagaimana tekanan darah seseorang ketika istirahat?</label>
                        <input type="text" name="resting_bp" class="form-control" id="resting_bp"
                            placeholder="Contoh: 130" required>
                    </div>

                    <div class="form-group">
                        <label for="cholesterol">Berapa kadar kolesterol dalam darah pasien pasien?</label>
                        <input type="text" name="cholesterol" class="form-control" id="cholesterol"
                            placeholder="Contoh: 283">
                    </div>

                    <div class="form-group">
                        <label>Bagaimana kadar gula darah pasien?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fasting_bs" id="fasting_bs_0" value="0"
                                required>
                            <label class="form-check-label" for="fasting_bs_0">
                                <= 120 mg/dl </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fasting_bs" id="fasting_bs_1" value="1">
                            <label class="form-check-label" for="fasting_bs_1">
                                >= 120 mg/dl
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Bagaimana kondisi EKG pasien ketika istirahat (posisi ketika berbaring)?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="resting_ecg" id="resting_ecg_normal"
                                value="normal" required>
                            <label class="form-check-label" for="resting_ecg_normal">
                                Normal </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="resting_ecg" id="resting_ecg_st"
                                value="st">
                            <label class="form-check-label" for="resting_ecg_st">
                                ST
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="resting_ecg" id="resting_ecg_lvh"
                                value="lvh">
                            <label class="form-check-label" for="resting_ecg_lvh">
                                LVH
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="max_hr">Berapa maksimum detak jantung pasien?</label>
                        <input type="text" name="max_hr" class="form-control" id="max_hr" placeholder="Contoh: 156"
                            required>
                    </div>

                    <div class="form-group">
                        <label>Apakah mengalami nyeri dada ketika berolahraga?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exercise_angina" id="exercise_angina_y"
                                value="Y" required>
                            <label class="form-check-label" for="exercise_angina_y">
                                Iya </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exercise_angina" id="exercise_angina_n"
                                value="N">
                            <label class="form-check-label" for="exercise_angina_n">
                                Tidak
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="oldpeak">Bagaimana kondisi penuruan ST seseorang akibat berolahraga?</label>
                        <input type="text" class="form-control" name="oldpeak" id="oldpeak" placeholder="Contoh: 1.2"
                            step="0.1" required>
                    </div>

                    <div class="form-group">
                        <label>Bagaimana slope dari puncak ST setelah berolahraga? </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="st_slope" id="st_slope_up" value="up"
                                required>
                            <label class="form-check-label" for="st_slope_up">
                                Up </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="st_slope" id="st_slope_flat"
                                value="flat">
                            <label class="form-check-label" for="st_slope_flat">
                                Flat </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="st_slope" id="st_slope_down"
                                value="down">
                            <label class="form-check-label" for="st_slope_down">
                                Down </label>
                        </div>
                    </div>


                    <button type="submit" form="form-1" class="btn btn-primary">Prediksi</button>
                </form>


            </div>
            <div class="tab-pane fade" id="pills-dataset2" role="tabpanel" aria-labelledby="pills-profile-tab">

                <!-- Forms -->
                <form method="post" action="/submit" id="form-2">
                    <div class="form-group">
                        <input type="hidden" name="dataset" value="2">
                        <label for="age">Berapa usia pasien?</label>
                        <input type="text" name="age" class="form-control" id="age" placeholder="Contoh: 28" required>
                    </div>
                    <div class="form-group">
                        <label>Apa jenis kelamin pasien?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="sex_m" value="1" required>
                            <label class="form-check-label" for="sex_m">
                                Laki-laki
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="sex_f" value="0">
                            <label class="form-check-label" for="sex_f">
                                Perempuan
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Apa jenis penyakit dada pasien?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="cp" id="ta" value="0" required>
                            <label class="form-check-label" for="ta">
                                TA (Typical Angina)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="cp" id="ata" value="1">
                            <label class="form-check-label" for="ata">
                                ATA (Atypical Angina)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="cp" id="nap" value="2">
                            <label class="form-check-label" for="nap">
                                NAP (Non-Angina Pain)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="cp" id="asy" value="3">
                            <label class="form-check-label" for="asy">
                                ASY (Asymmptomatic)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trestbps">Bagaimana tekanan darah seseorang ketika istirahat?</label>
                        <input type="text" name="trestbps" class="form-control" id="trestbps" placeholder="Contoh: 130"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="chol">Berapa kadar kolesterol dalam darah pasien pasien?</label>
                        <input type="text" name="chol" class="form-control" id="chol" placeholder="Contoh: 283"
                            required>
                    </div>

                    <div class="form-group">
                        <label>Bagaimana kadar gula darah pasien?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fbs" id="fasting_bs_0" value="0"
                                required>
                            <label class="form-check-label" for="fasting_bs_0">
                                <= 120 mg/dl </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fbs" id="fasting_bs_1" value="1">
                            <label class="form-check-label" for="fasting_bs_1">
                                >= 120 mg/dl
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Bagaimana kondisi EKG pasien ketika istirahat (posisi ketika berbaring)?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="restecg" id="resting_ecg_normal"
                                value="0" required>
                            <label class="form-check-label" for="resting_ecg_normal">
                                Normal </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="restecg" id="resting_ecg_st" value="1">
                            <label class="form-check-label" for="resting_ecg_st">
                                ST
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="restecg" id="resting_ecg_lvh" value="2">
                            <label class="form-check-label" for="resting_ecg_lvh">
                                LVH
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="thalach">Berapa maksimum detak jantung pasien?</label>
                        <input type="text" name="thalach" class="form-control" id="thalach" placeholder="Contoh: 156"
                            required>
                    </div>

                    <div class="form-group">
                        <label>Apakah mengalami nyeri dada ketika berolahraga?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exang" id="exercise_angina_y" value="0"
                                required>
                            <label class="form-check-label" for="exercise_angina_y">
                                Tidak ada nyeri </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exang" id="exercise_angina_n" value="1">
                            <label class="form-check-label" for="exercise_angina_n">
                                Nyeri
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="oldpeak">Bagaimana kondisi penurunan ST seseorang akibat berolahraga?</label>
                        <input type="text" name="oldpeak" class="form-control" id="oldpeak" placeholder="Contoh: 1.2"
                            required>
                    </div>

                    <div class="form-group">
                        <label>Bagaimana slope dari puncak ST setelah berolahraga? </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="slope" id="st_slope_up" value="0"
                                required>
                            <label class="form-check-label" for="st_slope_up">
                                Up </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="slope" id="st_slope_flat" value="1">
                            <label class="form-check-label" for="st_slope_flat">
                                Flat </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="slope" id="st_slope_down" value="2">
                            <label class="form-check-label" for="st_slope_down">
                                Down </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Bagaimana jumlah pembuluh darah pada pasien? </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ca" id="ca_0" value="0" required>
                            <label class="form-check-label" for="ca_0">
                                0 (Ya) </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ca" id="ca_1" value="1" required>
                            <label class="form-check-label" for="ca_1">
                                1 (Ya) </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ca" id="ca_2" value="2" required>
                            <label class="form-check-label" for="ca_2">
                                2 (Ya) </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ca" id="ca_3" value="3" required>
                            <label class="form-check-label" for="ca_3">
                                3 (Ya) </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ca" id="ca_4" value="4" required>
                            <label class="form-check-label" for="ca_4">
                                4 (Tidak) </label>
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Bagaimana kondisi Thalium pada pasien? </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="thal" id="thal_normal" value="1"
                                required>
                            <label class="form-check-label" for="thal_normal">
                                (1) Normal </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="thal" id="thal_cacat_tetap" value="2">
                            <label class="form-check-label" for="thal_cacat_tetap">
                                (2) Cacat tetap </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="thal" id="thal_cacat_reversible"
                                value="3">
                            <label class="form-check-label" for="thal_cacat_reversible">
                                (3) Cacat reversible </label>
                        </div>

                    </div>

                    <button type="submit" form="form-2" class="btn btn-primary">Prediksi</button>
                </form>

            </div>
            <!-- Predict class -->
            <div class="card my-5">
                <div class="card-header">
                    Hasil Prediksi
                </div>
                <div class="card-body">
                    {% if predicted %}
                    <h5 class="card-title text-danger">{{ predicted }}</h5>
                    <p class="card-text">Pasien terdiagnosis {{ predicted }} gagal jantung kongestif.</p>
                    {% endif %}

                    {% if prob %}
                    <h5 class="card-title text-danger">{{ prob }}</h5>

                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>